<link rel="stylesheet" href="__ROOT__/Public/js/searchPlugin/addressSearchCode/css/cityquery.css"/><!--城市插件样式-->
<div class="main_right">
    <div class="r_hd">
        <h3 class="r_tit">轻松行预定需求</h3>

        <div class="r_hd_extra">
            <a href="{:U('Easygo/qsx_req')}" class="current">新需求</a>
            <a href="{:U('Easygo/qsx_req_list')}">方案查看</a>
        </div>
    </div>

    <form action="{:U('Easygo/add_qsx_req')}" method="post" id="qsx_apply">
        <div class="BoxHeight mb_10"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_p4" style="margin:0 auto;">
            <tr>
                <td width="80%" class="ti_2"><span class="ml_80_yq">
            轻松行是一种全新的、满足高度定制化需求的预订方式。</span></td>

            </tr>
            <tr>
                <td class="ti_2"><span class="ml_80_yq">
                    您可以以自然语言文字的方式描述出行的各方面需求，我们将安排多位资深的差旅顾问为您制定最佳的出行方案供您选择。</span>
                </td>
            </tr>
            <tr>
                <td class="ti_2"><span class="ml_80_yq">在"<span class="tex_blue">方案查看</span>"菜单中，您可以从多个方案中选择最满意的出行方案。一旦确认，将由差旅顾问为您继续提供后续的服务。</span>
                </td>
                <td colspan="2">&nbsp; </td>
            </tr>

        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table_p4" style="margin:0 auto;">
            <tr>
                <td align="right">&nbsp;</td>
            </tr>
            <tr>
                <td align="right">&nbsp;</td>

               <!-- <if condition="$datt.emergency_booking eq 1">
                    <td>
                        <label for="choose_btn">
                            <input type="checkbox" id="choose_btn"/> 紧急预订
                        </label>
                    </td>
                    <else/>
                    <td>&nbsp;</td>
                </if>-->

                <td>&nbsp;</td>
            </tr>
            <if condition="$datt neq null">
                <tr>
                    <th class="w100">出差申请号</th>
                    <th>

                        <input name="tr_no" id ="tr_number"type="text" class="text01 fl_left" value="" <if condition="$datt.without_app eq '1'">disabled </if>>
                        <span class="spanblock_t10" style="color:<if condition="$emergency_booking eq false">gray<else />red</if>">
            <input type="checkbox" name="is_emergency" id="is_emergency" class="ml_5" <if condition="$datt.emergency_booking eq false">disabled="true"</if>/>
            紧急预订</span></th>
            </tr>
            <else/>
            <tr><th class="w100"></th></tr>
            </if>


            <tr>
                <td align="right"><span class="tex_r">*</span>出发城市</td>
                <td width="400">
                    <input id="fromcity" name="from_city" type="text" class="input_box text01" placeholder="中文/拼音">
                </td>
                <td width="262">
                    <div id="startCity" style="display:none" class="mod_tips_inner mt_2 fl_left">
                        <i class="mod_tico_x16 mod_tico_warn_x16"></i> 请填写出发城市
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right"><span class="tex_r">*</span>到达城市</td>
                <td width="240">
                    <input id="tocity" type="text" name="to_city" class="input_box text01" placeholder="中文/拼音">
                </td>
                <td>
                    <div id="endCity" style="display:none" class="mod_tips_inner mt_2 fl_left">
                        <i class="mod_tico_x16 mod_tico_warn_x16"></i> 请填写到达城市
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right"><span class="tex_r">*</span>出发时间</td>
                <td>
                    <span class="tex_blue">
                        <input name="leave_date" id="start" type="text" class="text01 laydate-icon" placeholder="请填写出发时间"/>
                    </span>
                </td>
                <td>
                    <div id="startTime" style="display:none" class="mod_tips_inner mt_2 fl_left">
                        <i class="mod_tico_x16 mod_tico_warn_x16"></i> 请填写出发时间
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">返回时间</td>
                <td>
                    <span class="tex_blue">
                        <input name="back_date" id="end" type="text" class="text01 laydate-icon" placeholder="请填写返回时间"/>
                    </span>

                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="right">具体需求</td>
                <td>
                    <textarea id="other_content" name="other_content" rows="3" class="text01_h42 c_tx2" style="width:250px;height:100px;padding: 5px;" placeholder="请填写您的需求..."></textarea>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2">
                    <span class="pt_ml75" style="margin-left: 80px;"><a href="javascript:void(0)" id="submit_req" class="btn_sure">提交</a></span>
                </td>
            </tr>
        </table>

    </form>
    <!-- 表单的控件js -->
    <div id="jsContainer" class="jsContainer" style="height:0">
        <div id="tuna_alert" style="display:none;position:absolute;z-index:999;overflow:hidden;"></div>
        <div id="tuna_jmpinfo" style="visibility:hidden;position:absolute;z-index:120;"></div>
    </div>

</div>

</form>
<div class="clear"></div>
</div>


<script type="text/javascript" src="__ROOT__/Public/js/searchPlugin/dataPicker/laydate.dev.js" charset="utf-8"></script><!--时间插件-->
<script src="__ROOT__/Public/js/searchPlugin/addressSearchCode/js/citylist.js" type="text/javascript" charset="utf-8"></script><!--城市插件-->
<script src="__ROOT__/Public/js/searchPlugin/addressSearch/js/querycity.js" type="text/javascript" charset="utf-8"></script><!--城市插件-->
<!-- 这是所需服务的jquery -->
<script type="text/javascript">
    /*页面数据初始化*/
    var labelFromcity = new Array();
    labelFromcity ['热门城市'] = new Array(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19);
    labelFromcity ['ABCDEF'] = new Array(4,7,9,12,17,19,21,23,25,27,29,30,32,33,35,37,39,41,42,44,46,47,49,51,53,60,63,68,78,85,87,91,94,97,110,112,117,119,121,123,132,136,141,148,150,153,157,159,161,164);
    labelFromcity ['GHIJ'] = new Array(2,5,6,13,16,43,46,49,52,54,55,57,59,61,63,65,66,68,70,72,74,75,77,79,80,82,92,95,109,110,118,121,123,128,130,140,143,144,151,158,172,173,175,181,184,185,187,198,200,202);
    labelFromcity ['KLMN'] = new Array(38,49,53,59,61,63,71,74,83,85,86,88,90,92,94,96,98,100,102,104,105,107,109,111,113,114,116,122,126,131,138,144,145,149,150,152,162,169,180,183,188,191,195,201,211);
    labelFromcity ['PQRSTUVW'] = new Array(44,47,49,65,69,74,80,83,89,93,96,106,111,115,118,120,121,123,125,127,129,131,133,135,137,139,141,142,144,145,147,150,151,160,166,170,174,176,178,182,184,188,192,194,196);
    labelFromcity ['XYZ'] = new Array(2,5,7,11,14,15,17,32,34,36,40,45,51,54,56,58,70,73,75,77,78,82,86,90,95,98,100,102,104,107,116,118,124,126,129,130,133,139,146,148);

    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate.skin('huanglv');
    laydate(start);
    laydate(end);

    $(function () {
        /*地区选择插件*/
        $('#fromcity').querycity({'data': citysFlight, 'tabs': labelFromcity});
        $('#tocity').querycity({'data': citysFlight, 'tabs': labelFromcity});



        //进行选择紧急预定的处理   tr 号输入框变化的特效

        $("#choose_btn").click(function () {

            if ($('#choose_btn').attr("checked") == "checked") {

                $(":input[name=tr_no]").attr("disabled", "disabled");
            } else {
                $(":input[name=tr_no]").removeAttr("disabled");

            }

        });

        //判断tr号是否为空，或者是紧急预定的情况
        $("#submit_req").click(function () {
            toServer();
        });

        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                toServer();
            }
        };
    });

    function toServer(){
        var ss = $(":input[name=tr_no]").attr("disabled") || '';
        if(ss == ''){
            if ($("#tr_number").val() != ""){ //&& $("#tr_number").val().length>2 &&$("#tr_number").val().length<30) {

                $("#tr_number").removeClass('warning').parent('td').removeClass('warning');
                $('#trNumber').css('display', 'none');
            } else {
                $("#tr_number").addClass('warning').parent('td').addClass('warning');
                $('#trNumber').css('display', 'block');
                return;
            }
        }

        /*出发城市*/
        var startcity = $("#fromcity").val() || '';
        if (startcity != '' && startcity!='中文/拼音') {
            $("#fromcity").removeClass('warning').parent('td').removeClass('warning');
            $('#startCity').css('display', 'none');
        } else {
            $("#fromcity").val('');
            $("#fromcity").addClass('warning').parent('td').addClass('warning');
            $('#startCity').css('display', 'block');
            return;
        }
        /*到达城市*/
        var toCity = $("#tocity").val() || '';

        if (toCity != '' && toCity!='中文/拼音') {
            $("#tocity").removeClass('warning').parent('td').removeClass('warning');
            $('#endCity').css('display', 'none');
        } else {
            $("#tocity").val('');
            $("#tocity").addClass('warning').parent('td').addClass('warning');
            $('#endCity').css('display', 'block');
            return;
        }
        /*出发时间*/
        var startdate = $('#start').val();
        if (startdate != '') {
            $("#start").removeClass('warning').parent('td').removeClass('warning');
            $('#startTime').css('display', 'none');
        } else {
            $("#start").addClass('warning').parent('td').addClass('warning');
            $('#startTime').css('display', 'block');
            return;
        }

        /**
         *将提交变成ajax提交的方式
         *修改人：王月
         *修改日期： 2015-3-16
         */
        $(function() {
            $("#qsx_apply").click(function() {
                var tr_no = $("#tr_number").val();
                var leave_date = $("#start").val();
                var back_date = $("#end").val();
                var from_city = $("#fromcity").val();
                var to_city = $("#tocity").val();
                var other_content = $("#other_content").val();
                $.ajax({
                    url: "{:U('Easygo/add_qsx_req')}",
                    data:{
                        tr_no : tr_no,
                        leave_date : leave_date,
                        back_date : back_date,
                        from_city : from_city,
                        to_city : to_city,
                        other_content : other_content
                    },
                    dataType:"json",
                    type:"POST",
                    success:function(data){
                        if (data==1) {
                            $("#sub_scheme").attr("disabled", true);
                            swal({
                                title: "温馨提示!",
                                text: "提交成功!!",
                                type: "success",
                                confirmButtonText: "关 闭"
                            }, function () {
                                window.location.href="{:U('Easygo/qsx_req_list')}";
                            });

                        } else {
                            swal({
                                title: "温馨提示!",
                                text: "提交失败!!",
                                type: "info",
                                confirmButtonText: "关 闭",
                                timer: 3000
                            });
                        }
                    }
                });
            });
        });
    }

</script>

