  
  
  <div class="main_right">
   	  <div class="r_hd">
            <h3 class="r_tit">系统用户列表</h3>
            
    </div>
        
      <div  class="BoxHeight mb_10" ></div><div class="clear"></div>
      <div class="clear"></div>
      <div class="clear"></div>
      <div class="clear"></div>
      
      <div class="clear"></div>
 
  <div class="clear"></div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_fund bg_tab">
      <tr>
          <th width="5%">序号</th>
          <th width="8%">用户ID</th>
          <th width="12%">注册名</th>
          <th width="12%">注册时间</th>
          <th width="12%">用户类型</th>
          <th width="10%">微信ID</th>
          <th width="10%">QQID</th>
          <th width="8%">状态</th>
          <th>操作</th>
      </tr>
      <foreach name="sysuser" item="sys" key="k">
      	<tr>
          <td>{$k+1}</td>
          <td>{$sys.id}<input type="hidden" value="{$sys.id}" id="suid_{$sys.id}"/></td>
          <td>{$sys.username}</td>
          <td>{$sys.register_time}</td>
          <td><if condition="$sys.user_type eq 1">网站用户 
          <elseif condition="$sys.user_type eq 2"/>企业
          <elseif condition="$sys.user_type eq 3"/>TMC企业
          <elseif condition="$sys.user_type eq 4"/>TMC员工
          <elseif condition="$sys.user_type eq 99"/> 系统管理员</if>
         </td>
          <td><if condition="$sys.wx_openid eq '' ">无
  		<else /> 有</if></td>
          <td><if condition="$sys.qq_openid eq '' ">无
  		<else /> 有</if></td>
          <td><if condition="$sys.status eq 0">正常
  		<elseif condition="$sys.status eq 99" /> 停用</if></td>
          <td>
          <if condition="$sys.status eq 0">
          <input type="button"  value="停用" class="btn_b5 ml_5" onclick="startOrstop(({$sys.id}),({$sys.status}))" />
  		<else /> <input type="button"  value="启用" class="btn_b5 ml_5" onclick="startOrstop({$sys.id},{$sys.status})" /></if>
           <input type="button"  value="重置密码" class="btn_b5 ml_5" onclick="resetPwd({$sys.id});"/>
          </td>
        </tr>
        </foreach>
 </table>
   
       <br>
        <!-- 分页的样式 和数量的显现  开始-->
            <div class="meneame">
		    {$Page}
		    </div>
        	 <style>
			/*css meneame style pagination*/
			div.meneame{padding:3px;font-size:80%;margin:3px;color:#ff6500;text-align:center;}
			div.meneame a{border:#ff9600 1px solid;padding:5px 7px;background-position:50% bottom;background-image:url(../images/meneame.jpg);margin:0 3px 0 0;text-decoration:none;}
			div.meneame a:hover{border:#ff9600 1px solid;background-image:none;color:#ff6500;background-color:#ffc794;}
			div.meneame a:active{border:#ff9600 1px solid;background-image:none;color:#ff6500;background-color:#ffc794;}
			div.meneame span.current{border:#ff6500 1px solid;padding:5px 7px;font-weight:bold;color:#ff6500;margin:0 3px 0 0;background-color:#ffbe94;}
			div.meneame span.disabled{border:#ffe3c6 1px solid;padding:5px 7px;color:#ffe3c6;margin:0 3px 0 0;}
			</style>
  </div>

    <div class="clear"></div>
    





<!---popup 添加部弹出浮层 start --->
        
<div class="popup popup_pos1 w400" style="display: none;">
	       <a href="#" class="btn_close"></a>
           <div class="pop_title">添加部门</div>
           <div class="popup_cont2">
             <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_personal">
               <tr class="border_none yd_bg">
                 <td width="30%" valign="top" class="td1">上一级部门</td>
                 <td>深圳必达测控技术有限公司</td>
               </tr>
               <tr class="border_none">
                 <td valign="top" class="td1">部门名称</td>
                 <td>
                   <div  class="BoxHeight" ></div>
                     <input name="input2" type="text" class="text01" />
                   <span class="tex_r">*</span><div class="mod_tips_inner mt_2"><i class="mod_tico_x16 mod_tico_warn_x16"></i>请输入您的企业代码</div></td>
               </tr>
               <tr class="border_none">
                 <td class="td1">部门编号</td>
                 <td><input name="input" type="text" class="text01" /></td>
               </tr>
               <tr class="border_none">
                 <td class="td1">部门描述</td>
                 <td><div  class="BoxHeight" ></div>
                   <p>部门描述您还可输入100个字</p>
                   <textarea name="input3" rows="8" class="text01 h_80"></textarea>
                 <div  class="BoxHeight" ></div></td>
               </tr>
             </table>
             
                   <div class="text_cent"><a href="#" class="btn_sure">确定</a></div>
                   
</div>
        </div>
        
    <!---popup 添加部门弹出浮层jquery ---> 
        
<script type="text/javascript" >

	function startOrstop(suid,sustatus){
		
		$.ajax({
			url:"{:U('EM/updateSUstatus')}", 
			data:"suid="+suid+"&sustatus="+sustatus,
			dataType:"text",
			type:"POST",
			success:function(data){
				if(data){
					location.href = "{:U('EM/showSysuser')}";
				}
			}
		});
		
	}

	function resetPwd(suid){
		$.ajax({
			url:"{:U('EM/resetPwd')}", 
			data:"suid="+suid,
			dataType:"text",
			type:"POST",
			success:function(msg){
				if(msg==1){
					alert('重置成功');
				}else{
					alert('已经重置过');
				}
			}
		});
	}
	

</script>
        
        
        


