<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__ROOT__/Public/css/login.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/header.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
<div class="new-header"><h2>账户快速绑定</h2></div>
</header>
<div class="login">
    <div class="loginContRight">
      <div class="til tex_r">请输入您的用户名</div>
      <div class="loginCont">
        <div  class="loginContOneBox" >
          <input name="loginNo" type="text" class="loginContOne" id="loginNo" value="手机号/邮箱" />
        </div>
        <div class="BoxHeight" ></div>
        <div class="loginContTwoBox">
          <input name="_Freedom_hint_password_bak_" type="text" class="loginContTwo" style="color: rgb(102, 102, 102); font-size: 14px; display: inline-block;" value="登录密码" />
          <input name="lPassword" type="password" class="loginContTwo" style="color:#000000;" />
        </div>
        <div class="BoxHeight" ></div>
        <div class="clear"></div>
      </div>
      <div class="loginButton"><input name="提交" type="submit" value="绑 定"></div>
      
    </div>
</div>
</body>
</html>
