<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>轻松行预定</title>
<style type="text/css">
body{
	font-size:50px;
	}
input{width:260px;
      height:80px;
	  font-size:40px;
	 } 
</style>
</head>

<body>
	<form action="http://weixin.73go.cn/Mfront/WScheduleInterface/addEasybooking" method="post">
    <div align="center">
   <input type="hidden" name="openid" value="{$openid}" /><br />
        出发城市：<input type="text" name="departure_city" value="" /><br />
        到达城市：<input type="text" name="arrived_city" value="" /><br />
        出发日期：<input type="text" name="starting_date" value="" /><br />
        需要服务：<input type="text" name="service" value=""/><br />
        其它要求：<input type="text" name="other_requirements"  value=""/><br />
    </div>
        <div align="center">
            <input type="submit" value="提交" style="font-size:30px;" />&nbsp;&nbsp; 
            <input type="reset"value="重置" style="font-size:30px;" /></p>
        </div>
    </form>
</body>
</html>