{__NOLAYOUT__}
<section class="xiz-info" id="shortcuts_self">
    <nav class="bot-flobox">
        <ul id="shortcuts_self_list">
            <li><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe88f8959823e92a2&redirect_uri=http%3a%2f%2fweixin.73go.cn%2fMfront%2fWScheduleInterface%2freceiveHelpbooking&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"><i class="icon-f5"></i><span>自助预订</span></a></li>
            <li><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe88f8959823e92a2&redirect_uri=http://weixin.73go.cn/Mfront/WScheduleInterface/receiveEasybooking&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"><i class="icon-f6"></i><span>轻松预订</span></a></li>
            <li><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe88f8959823e92a2&redirect_uri=http%3a%2f%2fweixin.73go.cn%2fMfront%2fWScheduleInterface%2fselectOrder&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"><i class="icon-f7"></i><span>我的订单</span></a></li>
        </ul>
    </nav>
    <section class="arrow-outer">
        <section class="arrow-shadow"></section>
    </section>
</section>
<section class="more-setbox" id="more-setbox">
    <nav class="m-nav-list flex-box">
        <a href="javaScript: void (0);" id="shortcuts_self_show">手机预订</a>
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxe88f8959823e92a2&redirect_uri=http%3a%2f%2fweixin.73go.cn%2fMfront%2fWScheduleInterface%2freceiveAccountBound&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect" class="m-ten">个人中心</a>
        <a target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=400000888" class="m-ten2">技术支持</a>

    </nav>
</section>