<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>方案提交</title>
<link href="__ROOT__/Public/css/weixin/header.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/weixin/self.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
</head>

<body>
<header>
<div class="new-header">
  <h2>方案选择提示</h2></div>
</header>
<div class="order"><span class="mt_20 text_cent font_24">您的订单已提交！可以随时在"我的订单"中查看</span></div>
</body>
</html>
