<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的订单</title>
<link href="__ROOT__/Public/css/weixin/order.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/weixin/header.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
</head>

<body>
<header>
<div class="new-header">
  <h2>我的订单</h2></div>
</header>
<div class="order">
  <div class="order_cent">01456178<br />
    2014-29-24<br />
  免费托运行李：	2PC（件） 32KG/PC（件)</div>
  <div class="order_cent">01456178<br />
    2014-29-24<br />
    免费托运行李：	2PC（件） 32KG/PC（件)</div>
  <div class="order_cent">01456178<br />
    2014-29-24<br />
    免费托运行李：	2PC（件） 32KG/PC（件)</div>
  <div class="order_cent">01456178<br />
    2014-29-24<br />
    免费托运行李：	2PC（件） 32KG/PC（件)</div>
  <div class="order_cent">01456178<br />
    2014-29-24<br />
    免费托运行李：	2PC（件） 32KG/PC（件)</div>
</div>
</body>
</html>
