<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <!-- <base href="__ROOT__/Public/Admin/" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Admin/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Admin/css/style_yq.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Admin/js/tree_themes/SimpleTree.css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Admin/css/input.css"/>
<link href="__ROOT__/Public/js/sweetAlert/css/sweet-alert.css" rel="stylesheet" type="text/css"/>
<!--<script src="__ROOT__/Public/Admin/js/input.js"></script>
--><script src="__ROOT__/Public/Admin/js/jquery-1.7.2.min.js"></script>
<style type="text/css">
    td.align_right {
        text-align: right;
    }
</style>
</head>

<body>
<div class="header">
    <div class="mininav">
      <div class="cont"> <span class="lefttxt"> 欢迎来73GO！　<a href="javascript:void(0)">{:LI('userName')}  </a><a href="{:U('Admin/Index/index')}"> 退出</a></span> <span class="righttxt"><a href="#" target="_blank">关于我们</a>　<a href="#" target="_blank">专题活动</a> | <a href="#" target="_blank">帮助中心</a></span> </div>
    </div>
    <div class="headtop">
            <div class="logoMark"></div>
            <div class="logo"><a href="javascript:void(0)"><img src="__ROOT__/Public/Admin/images/logo.jpg" width="191" height="43" alt="轻松行" /></a></div>
            <div class="txt"></div>
            <div class="iphone"></div>
        </div>
    <div class="nav">
    	<div class="menu">
        	<div class="navcate indexFlag" >
            	<div class="navNews" style="right:-280px;"></div>
           	  <div class="kc_title"><a href="index.shtml">快速入口</a></div>
                <div class="all-sort-list" ><div class="sub_i_bg"></div></div>
            </div>
            <ul class="menu_ul">
                <li><a href="#" class="on">首页</a></li>
                <li><a href="#" >旗舰服务商</a></li>
                <li><a href="#" >差旅管理学院</a></li>
                <li><a href="#" > VIP通道</a></li>
                <li><a href="#" >MICE套餐</a></li>
                <li><a href="#" >手机版</a></li>
            </ul>
         </div>
	</div>
</div>
<div class="main">
	<div class="main_left">
   	  <div class="left_nav">
		<div class="left_nav_tit left_nav_current">
			<i class="ico_people"></i><h3><a href="{:U('Admin/Index/main')}" class="tex_O tex_b">我的主页</a></h3>
		</div>
		
	  </div>
      <div class="left_nav_line"></div>
      <div class="left_nav">
		<div class="left_nav_tit left_nav_current">
			<i class="ico_people"></i><h3>管理后台</h3>
		</div>
        
		<ul class="left_nav_list">
			<!-- 注：当前栏目时增加class＝"current" -->
            &nbsp;	
            <li class=""><a href="{:U('Admin/EM/showSysuser')}">系统注册用户</a><i></i>
			<!-- 注：当前栏目时增加class＝"current" -->
				
            </li>
           	 &nbsp;
			<li class=""><a href="{:U('Admin/EM/showEnterprise')}" >差旅企业信息</a><i></i></li>&nbsp;
            <li class=""><a href="{:U('Admin/EM/showStaff')}">差旅企业员工信息</a><i></i></li>	&nbsp;
            <li class=""><a href="{:U('Admin/EM/showTMCEnterprise')}">TMC企业信息</a><i></i></li>&nbsp;
            <li class=""><a href="{:U('Admin/QsxBulletinMgnt/qsx_bulletin_mgnt')}">通告管理</a><i></i></li>&nbsp;
            <li class=""><a href="{:U('Admin/EM/showLogs')}">日志信息</a><i></i></li>&nbsp;
		</ul>
	  </div>
  
    </div>
    
    
{__CONTENT__}
<div class="footer">
		<div class="copyiright">
			Copyright © 2015 版权所有 深圳市轻松行科技有限公司 <p> 备案号：粤ICP备14072826号
		</div>
	</div>
</body>
<script type="text/javascript" src="__ROOT__/Public/js/sweetAlert/js/sweet-alert.min.js"></script>
</html>
