<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="轻松行微信">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=1">
    <link rel="shortcut icon" href="http://devwww.73go.cn/Public/images/favicon.ico">

    <title>{$sitetitle?$sitetitle:'轻松行'}</title>

    <link href="__PUBLIC__/Mfront/libs/ezgo/ezgo.css" rel="stylesheet">
    <link href="__PUBLIC__/Mfront/css/common.css" rel="stylesheet">

    <!--[if IE]>
    <script>
        (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
    </script>
    <![endif]-->
</head>

<body>

{__CONTENT__}

<footer class="app-menu">
{:W("Cate/footer")}
</footer>

<script src="__PUBLIC__/Mfront/libs/ezgo/ezgo.all.js"></script>
</body>
</html>
