<!---企业弹出浮层  --->
<div class="popup popup_pos1" id="tmc_box" style="display: none;">
	<a href="javascript:void(0)" id="tmc_shut"  class="btn_close"></a>
	<div class="pop_title">商旅管理公司搜索</div>
	<div class="popup_cont2" onkeydown="tmc_search();">
		
		<input name="tmc_info" type="text" id="tmc_info" class="text01 h29 c_tx2" placeholder="公司编号/公司名称">
		<input type="button" value="查找" id="tmc_search" class="btn_b5 ml_5" style="cursor:pointer">
		<div style="height: 350px;overflow-y: scroll;overflow-x: hidden;">
			<table id='tmc_tab' width="100%" border="0" cellspacing="0"
				   cellpadding="0" class="table_fund bg_tab mt_10" >
			</table>
		</div>

		<div class="news_mod_form_cnt dt_time01 dt_time_xz" id="tmc_boxs"></div>
		<div class="text_cent">
			<a href="javascript:void(0)" id="tmc_button" class="btn_sure">确定</a>
		</div>
	</div>
</div>
<!---企业弹出浮层  --->
<script >

function tmc_search(){
	 if (event.keyCode==13)  //回车键的键值为13
		 $('#tmc_search').click();
	}
	
	/*弹出企业*/
	var tmc_tartget = '';
	var tmc_isRadio;
	var tmc_isShowData;
	var tmc_urlStr = "";
	var tmc_info = "";
	function tmc_pop(obj,urlStr){
		tmc_tartget = obj;
		tmc_urlStr = urlStr;
		tmc_info = "";
		$("#tmc_info").val('');
		tmc_isRadio = arguments[2] ? arguments[2] : false;//是否为单选
		tmc_isShowData = arguments[3] ? arguments[3] : false;//是否默认不需要搜索便展示数据
		$('#tmc_box').css('display','block');
		$("#tmc_boxs").html('');
		if(tmc_isShowData){
			tmc_ajax();
		}		
	};
	
	function tmc_ajax(){
		
		$.ajax({
			url:tmc_urlStr,
				data:'info='+tmc_info,
				dataType:"text",
				type:"POST",
				success: function(data){
					var html = '<tr><th width="5%">&nbsp;</th><th width="5%">id</th><th width="15%">企业编号</th><th width="15%">企业全称</th><th >企业简称</th></tr>' ;
					var data=eval("("+data+")");
					//console.log(data);
					if(data==null){
						$('#tmc_tab').html("<p style='width: 100%;padding: 30px;text-align: center'><strong>暂无数据!</strong></p>");
					}else{
					//转换为json对象 
					$.each(data,function(i, item){  
						var addhtml='';
						if(tmc_isRadio==false){
							addhtml = '<tr class="searchList" id="tmc_'+item.id+'"  style="cursor:pointer"><td><input type="checkbox" data-id="'+item.id+'" name="tmc_isChecked" id="tmc_checkbox'+item.id+'"></td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.id+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.tmc_code+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.name+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.short_name+'</td></tr>';
						}else{
							addhtml = '<tr class="searchList" id="tmc_'+item.id+'"  style="cursor:pointer"><td><input type="radio" data-id="'+item.id+'" name="tmc_isChecked" id="tmc_checkbox'+item.id+'"></td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.id+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.tmc_code+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.name+'</td><td onclick="tmc_sglclick('+item.id+')" ondblclick="tmc_dblclick('+item.id+')">'+item.short_name+'</td></tr>';
						}
						   html+=addhtml;
					});
					$('#tmc_tab').html(html);
					}
	             }
		});
	}
	
	$('#tmc_search').click(function(){
		tmc_info = $('#tmc_info').val();
		if(tmc_info!=""){
			tmc_ajax();
		}
		
		
	});
	/*关闭窗口*/
	function tmc_close(){
		$('#tmc_box').css('display','none');	
		
	};
	/*关闭查询*/
	$('#tmc_shut').click(function(){
		tmc_close();
	});
	
	/*单击*/
	function tmc_sglclick(id){
		var tmc_checkbox = $('#tmc_checkbox'+id);
		tmc_checkbox.attr("checked")=="checked"?tmc_checkbox.attr("checked",false):tmc_checkbox.attr("checked",true);
	};
	
	/*双击*/
	function tmc_dblclick(id){		
		var obj =  tmc_getdata(id);
		var res = [];
		res.push(obj);
		tmc_tartget(res);
		tmc_close();
		
	};
	/*获取单行数据*/
	function tmc_getdata(id){
		var td = $('#tmc_'+id).find("td");
		var data = new Object();
		//id
		data.tmc_id = td.eq(1).text();
		//企业编号
		data.tmc_code = td.eq(2).text();
		//全名
		data.name = td.eq(3).text();
		//简称
		data.short_name = td.eq(4).text();
		return data;
		
	}
	/*获取所有选中的数据*/
	function tmc_getdatas(){
		var result = [];
		$("input[name='tmc_isChecked']:checked").each(function(){
			var id =  $(this).data('id');
			result.push(tmc_getdata(id));
		});
		return result;
		
	};
	/*提交数据*/
	$('#tmc_button').click(function(){
		var lst = tmc_getdatas() || [];	
		if(lst.length>0){
			tmc_tartget(lst);
			tmc_close();
		}
		
	});

</script>
