<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<base href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>免费注册信息</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link href='css/fullcalendar.css' rel='stylesheet'/>
<link href="js/sweetAlert/css/sweet-alert.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/favicon.ico" />
<script src="js/jquery-1.7.2.min.js"></script>
<script src='js/moment/moment.js'></script>
<script src='js/fulldate/artTemplate.js'></script>
<script src='js/fulldate/fullcalendar.js'></script>
<script src='js/fulldate/zh-cn.js'></script>
<script src='js/addressPlugin/jquery.cityselect.js'></script>
<script type="text/javascript" src="{:U('Home/Resource/jsBase')}"></script>
<script type="text/javascript" src="js/functions_73go.js"></script>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101200975" charset="utf-8" ></script>

<!--百度统计js代码-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9e8dc4308f6255aaab3aadc413a1846e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>

<body>
<div class="header">
    <div class="mininav">

      <div class="cont"> <span class="lefttxt"> 欢迎来<if condition="getHostedTmcInfo('name') neq null ">{:getHostedTmcInfo('name')}<else/>73GO</if>！
       <if condition="LI('userName') neq null">
       <!--  <a href="javascript:void(0)">{:LI('userName')}</a><a href="{:U('Index/login')}"> 退出</a></span>-->
	     <if condition="session('user_type') eq   '1' " >
		  		<a href="{:U('Index/mypage_user')}">
		  <elseif condition="session('user_type') eq  '2' "/>
		  		<a href="{:U('Index/mypage_co')}">
		   <else />
		 		 <a href="{:U('Agent/Config/config_tmcinfo_account')}">
		   </if>
     	{:LI('userName')}</a><a href = "javascript:void(0)" onclick="logout()"> 退出</a>

     <else />
     <a href="{:U('Index/login')}">请登录</a><a href="{:U('Index/register_user')}"> 注册</a>
      </if></span>
      </div>
    </div>
    <div class="headtop">
            <div class="logoMark"></div>
            <div class="logo"><a href="{:U('Home/Index/index')}"><img src=<if condition="getHostedTmcInfo('small_logo') neq null ">"{:getHostedTmcInfo('large_logo')}"<else/>"images/logo.jpg"</if> width="191" height="43" alt="轻松行" /></a></div>
            <div class="txt"></div>
            <div class="iphone"></div>
  </div>
    <div class="nav">
    	<div class="menu">
        	<div class="navcate indexFlag" >
               <div class="navNews" style="right:-280px;"></div>
           	   <div class="kc_title"><a href="javaScript: void (0);">我的菜单</a></div>
               <div class="all-sort-list" ><div class="sub_i_bg"></div></div>
            </div>
           <!-- <ul class="menu_ul">
                <li><a href="{:U('Home/Index/logout')}" class="on">首页</a></li>
            </ul>-->
            </div>
            
      </div>
	</div>
</div><div class="clear"></div>

<div />

<div class="main">
  {:UserMenu_73go()}




    {__CONTENT__}

</div>

<div class="footer">
    <div class="copyiright">
        Copyright © 2015 版权所有 深圳市轻松行科技有限公司 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备14072826号</a>
    </div>
</div>
</body>
<script type="text/javascript" src="js/sweetAlert/js/sweet-alert.min.js"></script>
<script type="text/javascript">

	function logout(){
		if( QC.Login.check() ){
			QC.Login.signOut();
		}
		$.ajax({
			url:"{:U('Index/logout')}",
			/*data:{openId: openId},
			dataType:"JSON",
			type:"POST",*/
			success:function(msg){
				location.href = "{:U('Index/login')}";
			}
		});
	    //location.href = "{:U('Index/login')}";
    };


</script>
</html>
