  <div class="main_right">
  <div class="r_hd">
            <h3 class="r_tit">详情</h3>
   	  </div>
      <div class="BoxHeight mt_10"></div>
  <div class="order">
            <div class="order_tit">
                <span class="mr_8">订 单号：<em>{$train.0.orderNum}</em></span>
                <span class="mr_8">{$train.0.orderTime}</span>
                <strong class="ml_25">{$train.0.tmcName}</strong>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_fund bg_tab table_pr">
                <tr>
                    <td width="155px" class="td_yq">
                        {$train.0.boarding_time|substr=0,10}
                        <!--<span class="bx_mr">
                            <a class="a_buy_yq">保险</a>
                        </span>--><br/>
                        {$train.0.train_num}
                    </td>
                    <td width="118px" class="td_yq">
                        <span class="tex_20">{$train.0.boarding_time|substr=11,5}</span><br/>
                        {$train.0.station_dep}
                    </td>
                    <td width="123" class="td_yq">
                        <p></p>
                        <p>——</p>
                        <p></p>

                        <p>&nbsp;</p>
                    </td>
                    <td width="150px" class="td_yq">
                        <span class="tex_20">{$train.0.arrive_time|substr=11,5}</span><br/>
                         {$train.0.station_arv}
                    </td>
                    <td width="100px" class="td_yq" width="94px" colspan="1">
                        <span style="text-align: left;margin-right: 10px;">{$train.0.class_level}</span>
                        <span style="text-align: right">￥{$train.0.price}</span><br/>
                        <span style="text-align: center;margin-top: 20px;">
                            <a style="color: #0077FF;" href="javaScript:void(0);">退改签政策</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td width="100px" class="td_yq" colspan="1">状态详情</td>
                    <td colspan="4" width="200px" class="order_margin td_yq">
                    <foreach name="info" item="ot">
					
					
                        <p>
                            <span style="display: inline-block;width: 220px;margin-left: 15px;">{$ot['name']}</span>
							
<!-------------------   这是火车现结的场景 ----------------------->		
					<if condition="$train[0]['payType'] eq 0" >
					
							<if condition="$ot['status'] eq 2" > 	
								<span style="display: inline-block;width: 150px;">待出票</span>
								<span style="display: inline-block;width: 100px;"></span>
								
							<elseif condition="$ot['status'] eq 14" />      <!-- 已出票 -->
								<span style="display: inline-block;width: 150px;">已出票</span>
								<span style="display: inline-block;width: 100px;margin-bottom:10px;">
	          						    <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />
	         						   	<a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>
								
								</span>
								
							<elseif condition="$ot['status'] eq 4" />  <!-- 待改签 -->	
								<span style="display: inline-block;width: 150px;">待改签</span>
								<span style="display: inline-block;width: 100px;"></span>
								
							<elseif condition="$ot['status'] eq 16" /> <!-- 已改签 -->	
							    <span style="display: inline-block;width: 150px;">已改签</span>
								<!-- 订单状态为已改签的时候，产品状态的文字为  申请退票  和  申请改签 -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;">
	          						    <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />
	         						   	<a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>
								
								</span>								
							
							<elseif condition="$ot['status'] eq 1" />  <!-- 待补款 -->
								<span style="display: inline-block;width: 150px;">待补款</span>
								<!-- 订单状态为待补款的时候，产品状态的文字为  补款  和  取消订单 -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;">
								<a href="javascript:void(0)" onclick="train_add_money({$ot['id']})" class="tex_blue">补款</a><br />
								<a href="javascript:void(0)" onclick="train_cancel_change_ticket({$ot['id']})" class="tex_O">取消改签</a>
								
								</span>
							<elseif condition="$ot['status'] eq 13" /> <!-- 已补款 -->
								<span style="display: inline-block;width: 150px;">已补款</span>	
								<!-- 订单状态为已补款的时候，产品状态的文字为 null -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
							<elseif condition="$ot['status'] eq 22" /> <!-- 已使用 -->
								<span style="display: inline-block;width: 150px;">已使用/span>
								 <!-- 订单状态为已使用的时候，产品状态的文字为null -->
								 <span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
								 
							<elseif condition="$ot['status'] eq 18" /> <!-- 已过期 -->	 
								 <span style="display: inline-block;width: 150px;">已过期</span>
								 <!-- 订单状态为已过期的时候，产品状态的文字为 申请退票  和申请改签 -->
								 <span style="display: inline-block;width: 100px;margin-bottom:10px;">
			                     <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />
	         					 <a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>							 
								 </span>
							<elseif condition="$ot['status'] eq 9" />      <!-- 待退票 -->
								<span style="display: inline-block;width: 150px;">待退票</span>
								 <!-- 订单状态为待退票的时候，产品状态的文字为null -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
							<elseif condition="$ot['status'] eq 26" /> <!-- 已退票 -->
								<span style="display: inline-block;width: 150px;">已退票</span>
								<!-- 订单状态为已退票的时候，产品状态的文字为null -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
							</if>
							
<!--------------------------- 这是火车月结的情景 ------------------------- -->               				 
					<elseif condition="$train[0]['payType'] eq 1"  />
					
							<if condition="$ot['status'] eq 2" > 	
								<span style="display: inline-block;width: 150px;">待出票</span>
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
								
							<elseif condition="$ot['status'] eq 14" />      <!-- 已出票 -->
								<span style="display: inline-block;width: 150px;">已出票</span>
								<span style="display: inline-block;width: 100px;margin-bottom:10px;">
	          						    <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />	          						    
	         						   	<a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>
								
								</span>
								
							<elseif condition="$ot['status'] eq 4" />  <!-- 待改签 -->	
								<span style="display: inline-block;width: 150px;">待改签</span>
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
								
							<elseif condition="$ot['status'] eq 16" /> <!-- 已改签 -->	
							    <span style="display: inline-block;width: 150px;">已改签</span>
								<!-- 订单状态为已改签的时候，产品状态的文字为  申请退票  和  申请改签 -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;">
	          						    <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />
	         						   	<a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>
								
								</span>								

							<elseif condition="$ot['status'] eq 22" /> <!-- 已使用 -->
								<span style="display: inline-block;width: 150px;">已使用/span>
								 <!-- 订单状态为已使用的时候，产品状态的文字为null -->
								 <span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
								 
							<elseif condition="$ot['status'] eq 18" /> <!-- 已过期 -->	 
								 <span style="display: inline-block;width: 150px;">已过期</span>
								 <!-- 订单状态为已过期的时候，产品状态的文字为 申请退票  和申请改签 -->
								 <span style="display: inline-block;width: 100px;margin-bottom:10px;">
			                     <a href="{:U('Order/train_apply_refund_ticket',array('id'=>$train[0]['id']))}" class="tex_blue">申请退票</a><br />
	         					 <a href="{:U('Order/train_apply_change_ticket',array('id'=>$train[0]['id']))}" class="tex_O">申请改签</a>							 
								 </span>
							<elseif condition="$ot['status'] eq 9" />      <!-- 待退票 -->
								<span style="display: inline-block;width: 150px;">待退票</span>
								 <!-- 订单状态为待退票的时候，产品状态的文字为null -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
							<elseif condition="$ot['status'] eq 26" /> <!-- 已退票 -->
								<span style="display: inline-block;width: 150px;">已退票</span>
								<!-- 订单状态为已退票的时候，产品状态的文字为null -->
								<span style="display: inline-block;width: 100px;margin-bottom:10px;"></span>
							</if>							
							

						</if>
						</p>

                    
					</foreach>
					</td>
					
					
                </tr>

            </table>
        </div>     

  </div>
  <div class="clear"></div>
</div>	  

<script>
/**************对整个订单的操作*****************/	

//确认
function sure(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/sure')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};

//取消订单
function cancel(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/cancel')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};

//付款
function pay(id){
	var id  = id;
	//alert(123);
	$.ajax({
		url:"{:U('Order/pay')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};


//申请退单
function apply_cancel_order(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/apply_cancel_order')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};

/**************对火车产品的操作*****************/	

//申请退票
function train_apply_refund_ticket(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/trainuser_apply_refund_ticket')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};	

//申请改签
function train_apply_change_ticket(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/trainuser_apply_change_ticket')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};	

//补款
function train_add_money(id){
	var id  = id;
	$.ajax({
		url:"{:U('Order/trainuser_add_money')}",
		data:"id="+id,
		dataType:"text",
		type:"POST",
		success:function(msg){
		if(msg==0){
			window.location.reload();
		}
		if(msg==1){
			window.location.reload();
		}
	
		}
	});
};	

    //取消改签
	function train_cancel_change_ticket(id){
		var id  = id;
		$.ajax({
			url:"{:U('Order/trainuser_cancel_change_ticket')}",
			data:"id="+id,
			dataType:"text",
			type:"POST",
			success:function(msg){
			if(msg==0){
				window.location.reload();
			}
			if(msg==1){
				window.location.reload();
			}
		
			}
		});
	};	









</script>



