<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="qc:admins" content="257424054177767377636"/>
    <link rel="shortcut icon" href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/favicon.ico"/>

    <title>轻松行</title>

    <!-- CSS -->
    <link href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/css/index2.css" rel="stylesheet" type="text/css"/>
</head>
<!-- NAVBAR
================================================== -->
<body class="bg_cl">
<!--头部开始-->
<div class="top" id="top">
    <div class="headtop">
        <div class="logo"><a href="/"><img src="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/logo_black.jpg"
                                           width="199" height="77" alt="LOGO"/></a></div>
        <div class="txt">
            <a href="{:U('Index/login')}" class="on">登录</a><a href="{:U('Index/register_user')}">注册</a><a
                href="{:U('Agent/index/login_tmc')}">代理商入口</a><a
                href="http://www.73go.cn/clforum/forum.php">差旅管理学院</a><a href="{:U('Home/Index/index')}">首页</a></div>
    </div>
</div>
<!--头部结束-->

<!--主体开始-->
<div class="about_img">
    <img src="__ROOT__/Public/images/about_us.jpg">
</div>
<div class="main">
    <ul class="main_left">
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=1')}">关于我们</a></li>
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=2')}">招聘信息</a></li>
        <li class="main_left_rc"><a href="{:U('Home/Index/about_us?key=3')}">联系我们</a></li>
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=4')}">合作伙伴</a></li>
    </ul>
    <div class="main_right">
        <div class="r_hd">
            <h3 class="r_tit">联系电话及微信</h3>
        </div>
        <div class="BoxHeight mb_10"></div>
        <ul class="contact_phone">
            <li class="phone">联系电话：</li>
            <li class="phone_num">0755-83484394</li>
            <li class="phone">服务时间：</li>
            <li class="phone_num">周一至周五 9:00-18:00</li>
        </ul>
        <div class="phone_img">
            <img src="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/service_phone.png">
        </div>
        <div class="phone_img">
            <img src="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/two-dimension.png">
        </div>
        <div class="r_hd">
            <h3 class="r_tit">公司地址</h3>
        </div>
        <div class="BoxHeight mb_10"></div>
        <p style="display:inline-block;" class="content">邮箱：qingsongxing@163.com<br/>地址：深圳市福田保税区桃花路12号赛格储运大厦10楼</p>
        <img style="width:250px;margin:20px 20px;" src="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/address_map.jpg">
    </div>
</div>


<div class="clear"></div>
<!--主体结束-->

<!--底部信息开始-->
<div class="black_foot">
    <div class="black_foot_cont">
        <p class="black_h32">
            <a id="a_foot_aboutMe" href="{:U('Home/Index/about_us?key=1')}">关于我们</a>
            <a id="a_foot_recuitInfo" href="{:U('Home/Index/about_us?key=2')}">招聘信息</a>
            <a id="a_foot_ContactUs" href="{:U('Home/Index/about_us?key=3')}">联系我们</a>
            <a id="a_foot_Partners" href="{:U('Home/Index/about_us?key=4')}">合作伙伴</a>
        </p>
        <p class="black_h32">Copyright © 2014 73go.cn 版权所有 深圳市轻松行科技有限公司</p>
    </div>
</div>
<!--底部信息结束-->

</body>
</html>
