<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="qc:admins" content="257424054177767377636"/>
    <link rel="shortcut icon" href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/favicon.ico"/>

    <title>轻松行</title>

    <!-- CSS -->
    <link href="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/css/index2.css" rel="stylesheet" type="text/css"/>
</head>
<!-- NAVBAR
================================================== -->
<body class="bg_cl">
<!--头部开始-->
<div class="top" id="top">
    <div class="headtop">
        <div class="logo"><a href="/"><img src="http://{$_SERVER['HTTP_HOST']}__ROOT__/Public/images/logo_black.jpg"
                                           width="199" height="77" alt="LOGO"/></a></div>
        <div class="txt">
            <a href="{:U('Index/login')}" class="on">登录</a><a href="{:U('Index/register_user')}">注册</a><a
                href="{:U('Agent/index/login_tmc')}">代理商入口</a><a
                href="http://www.73go.cn/clforum/forum.php">差旅管理学院</a><a href="{:U('Home/Index/index')}">首页</a></div>
    </div>
</div>
<!--头部结束-->

<!--主体开始-->
<div class="about_img">
    <img src="__ROOT__/Public/images/about_us.jpg">
</div>
<div class="main">
    <ul class="main_left">
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=1')}">关于我们</a></li>
        <li class="main_left_rc"><a href="{:U('Home/Index/about_us?key=2')}">招聘信息</a></li>
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=3')}">联系我们</a></li>
        <li class="main_left_r"><a href="{:U('Home/Index/about_us?key=4')}">合作伙伴</a></li>
    </ul>
    <div class="main_right">
        <div class="r_hd">
            <h3 class="r_tit">招聘信息</h3>
        </div>
        <div class="BoxHeight mb_10"></div>
        <p class="content">在深圳，有这么一群怀有伟大梦想，拥有统一价值观的新新人类，在创建自己的品牌。<br/>
        我们就是要颠覆传统，就是要改变创新，就是要与众不同。<br/>
        加入轻松行，释放你的任性，为自己代言，向世界证明你行，真的行！<br/>
        深圳市轻松行科技有限公司正在招聘，欢迎五湖四海，够胆量的有志之士加入我们，一起共筑梦想。<br/>
        招聘链接：<a href="http://company.zhaopin.com/CC670389825.htm">http://company.zhaopin.com/CC670389825.htm</a></p>
    </div>
</div>


<div class="clear"></div>
<!--主体结束-->

<!--底部信息开始-->
<div class="black_foot">
    <div class="black_foot_cont">
        <p class="black_h32">
            <a id="a_foot_aboutMe" href="{:U('Home/Index/about_us?key=1')}">关于我们</a>
            <a id="a_foot_recuitInfo" href="{:U('Home/Index/about_us?key=2')}">招聘信息</a>
            <a id="a_foot_ContactUs" href="{:U('Home/Index/about_us?key=3')}">联系我们</a>
            <a id="a_foot_Partners" href="{:U('Home/Index/about_us?key=4')}">合作伙伴</a>
        </p>
        <p class="black_h32">Copyright © 2014 73go.cn 版权所有 深圳市轻松行科技有限公司</p>
    </div>
</div>
<!--底部信息结束-->

</body>
</html>
