<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DuangDaung打飞机</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron text-center">
            <h1>网站努力建设中...</h1>
            <p>
                <div class="thumbnail">
                    <img src="http://dddafeiji.com/Uploads/log.png" alt="亲!请稍等...">
                </div>
            </p>
            <p>
                一款可以砍飞机票价格的App
            </p>
            <p>
                我们的机票 你做主
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="http://dddafeiji.com/Uploads/duangduang.apk" role="button">点击下载</a>
            </p>
        </div>
    </div> <!-- /container -->
    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">
                <strong>
                    COPYRIGHT © 2015 duangduang打飞机官网 | <a href="http://www.miibeian.gov.cn/">苏ICP备15014441号-1</a>
                </strong>
            </p>

        </div>
    </footer>

</body>
</html>
