<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="__ROOT__/Public/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>期待您的建设</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div><center><h4>www.china-tmc.cn期待您的差旅旗舰店！</h4></center></div>
<div class="foot">
    <div class="foot_cont">
        <p class="h32"><span class="mt10">终端设备支持</span><img src="images/index_zc.jpg" width="130" height="32" /></p>
        <p class="h32">Copyright © 2014 73go.cn 版权所有 深圳市轻松行科技有限公司 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备14072826号</a></p>
    </div>
</div>

</body>
</html>
