<div class="mb_10">
  <div class="order_tit">机票保险 保险公司：
    <input name="insur_co" type="text" class="text01 c_tx2  h20" value="" />
    <a href="javascript:void(0)" class="fl_right tex_blue sz73go_remove_element sz73go_editing_l0">删除</a></div>
  <table  border="0" cellpadding="0" cellspacing="0" width="100%" class="table_fund bg_tab">
    <thead>
      <tr style="background-color:#f1f1f1;" >
        <th>航班号</th>
        <th>保费</th>
        <th>理赔金额（万）</th>
        <th>生效时间</th>
        <th>到期时间</th>
        <th>备注信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div>
            <input name="airline_num" disabled value="" style="width:98px;" />
          </div></td>
        <td><div>
            <input type="text" name="price"  value="" class="sz73go_moneyitem" />
          </div></td>
        <td><div>
            <input type="text" name="cov_amount"  value=""/>
          </div></td>
        <td><div>
            <input type="text" name="eff_time"  value="" onfocus="WdatePicker()"  />
          </div></td>
        <td><div>
            <input type="text" name="exp_time"  value="" onfocus="WdatePicker()" />
          </div></td>
        <td><div>
            <input type="text" name="tmc_note"  value=""  />
          </div></td>
      </tr>
    </tbody>
  </table>
  <div class="clear"></div>
</div>
