<div class="mb_10" >
    <div class="order_tit">火车票 <a href="javascript:void(0)" class="fl_right tex_blue sz73go_remove_element sz73go_editing_l0">删除</a></div>
       <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table_fund bg_tab">
        	<thead>
          	  <tr style="background-color:#f1f1f1;" >
            	<th>出发日期</th>
            	<th>车次</th>
            	<th>席位</th>
            	<th>出发时间和地点</th>
            	<th>到达时间和地点</th>
            	<th>票价</th>
            	<th>服务费</th>
          	  </tr>
        	</thead>
        	<tbody>
         	  <tr>
            	<td><div><input type="hidden" name="kind" value="6"/>
            	<input type="text" name="boarding_time" onfocus="WdatePicker()"  value="" style="width:80px;" /></div></td>
            	<td><div><input name="train_num"  style="width:80px;"  value=""/></div></td>
            	<td><div><input type="text" name="class_level" value="" style="width:80px;" /></div></td>
            	<td><div><input type="text" name="time"  value="" style="width:80px;margin-bottom:2px;"  class="sz73go_timeitem"/></div>
            		<div><input name="station_dep"  style="width:80px;" /></div>
    			</td>
    			<td><div><input type="text" name="time_arv"  value="" style="width:80px;margin-bottom:2px;" class="sz73go_timeitem"/></div>
            		<div><input name="station_arv" style="width:80px;" /></div>
    			</td>
    			<td><div><input type="text" name="price"  value="" style="width:80px;" class="sz73go_moneyitem"/></div></td>
		       	<td><div><input type="text" name="service_price"  value="" class="sz73go_servicefee" style="width:80px;" /></div></td>
		       </tr>
			  </tbody>
			</table>
			<div class="pa_15 re_bg"><strong>退改签政策：</strong></div>
	        <div class="pa_15"><input type="text" value="" name="refund_policy" style="width:100%; border:1px #fff solid;" /></div>
	        <div class="pa_15 re_bg"><strong>备注信息：</strong></div>
	        <div class="pa_15"><input type="text" value="" name="tmc_note" style="width:100%; border:1px #fff solid;" /></div>
		    <div class="clear"></div>
</div>