<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>代理公司员工登录</title>
</head>
<body>
<form action="http://weixin.73go.cn/index.php/Home/Proxy/showOrder"
	method="post">
<p align="center">用户名：<input type="text" name="proxyuser" value="" /><br />
密 &nbsp;码：<input type="text" name="proxypwd" value="" /><br />
<input type="submit" value="登录" />&nbsp;&nbsp; <input type="reset"
	value="重 置" /></p>
</form>
</body>
</html>