<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border=1>
	<tr>
		<td>订单序号</td>
		<td>订单编号</td>
		<td>订单时间</td>
		<td>订单人</td>
		<td>订单人国家</td>
		<td>订单人省份</td>
		<td>订单人城市</td>
		<td>订单内容</td>
		<td>操作</td>
	</tr>
	<foreach name="order" item="o">
	<tr>
		<td>{$o.id}</td>
		<td>{$o.msgID}</td>
		<td>{$o.createtime}</td>
		<td>{$o.nickname}</td>
		<td>{$o.country}</td>
		<td>{$o.province}</td>
		<td>{$o.city}</td>
		<td>{$o.recognition }</td>
		<td><a
			href="http://weixin.73go.cn/index.php/Home/Proxy/findById?id={$o.id}">抢票</a>
	</tr>
	</foreach>
</table>
</body>
</html>